{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu" onmouseover="addOpen(this)">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                {% assign booColor = false %}
                {% for promo in shop.metaobjects.menu_colors.values %}
                  {% assign promoText = promo.title | downcase | replace: ' ', '' %}
                  {% assign linkText = link.title | downcase | replace: ' ', '' %}
                  {% if promoText == linkText %}
                    {% assign booColor = true %}
                    {% assign currColor = promo.color %}
                    {% assign booIcon = promo.use_icon %}
                    {% continue %}
                  {% endif %}
                {% endfor %}
                {% if booColor %}
                  <span
                    style="color: {{ currColor }};"
                    class="color-Active {%- if link.child_active %}header__active-menu-item{% endif %}"
                  >
                    {{- link.title | escape -}}
                    {% if booIcon %} &nbsp; <i class="fa-solid fa-heart"></i>{% endif %}
                  </span>
                  {% render 'icon-caret' %}
                {% else %}
                  <span
                    {%- if link.child_active %}
                      class="header__active-menu-item"
                    {% endif %}
                  >
                    {{- link.title | escape -}}
                  </span>
                  {% render 'icon-caret' %}
                {% endif %}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <div class="header_container">
                  <ul
                    class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                    role="list"
                  >
                    {%- for childlink in link.links -%}
                      <li>
                        <a
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          href="{{ childlink.url }}"
                          class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"
                          {% if childlink.current %}
                            aria-current="page"
                          {% endif %}
                        >
                          {{ childlink.title | escape }}
                        </a>
                        {%- if childlink.links != blank -%}
                          <ul class="list-unstyled" role="list">
                            {%- for grandchildlink in childlink.links -%}
                              <li>
                                <a
                                  id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                  href="{{ grandchildlink.url }}"
                                  class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
                                  {% if grandchildlink.current %}
                                    aria-current="page"
                                  {% endif %}
                                >
                                  {{ grandchildlink.title | escape }}
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                  {% for menu_content in shop.metaobjects.menu_content.values %}
                    {% assign menuContentID = menu_content.id_header_asociado | downcase | replace: ' ', '' %}
                    {% assign linkText = link.title | downcase | replace: ' ', '' %}
                    {% if menuContentID == linkText %}
                      {% if menu_content.texto_para_boton != blank %}
                        <a
                          class="promo_button"
                          style="background: {{ menu_content.color_de_fondo_de_boton }}; color: {{ menu_content.color_de_texto_de_boton }}; border: 1px solid {{ menu_content.color_de_borde_de_boton }};"
                          href="{{ menu_content.url_para_boton }}"
                        >
                          {{- menu_content.texto_para_boton -}}
                        </a>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </div>
                {% for menu_content in shop.metaobjects.menu_content.values %}
                  {% assign menuContentID = menu_content.id_header_asociado | downcase | replace: ' ', '' %}
                  {% assign linkText = link.title | downcase | replace: ' ', '' %}
                  {% if menuContentID == linkText %}
                    <div class="header_container promo_content">
                      <a href="{{ menu_content.url_de_imagen }}">
                        {% if menu_content.imagen -%}
                          <img loading="lazy" src="{{ menu_content.imagen | img_url: 'master' }}">
                        {%- endif %}
                        {% if menu_content.texto_de_imagen %}
                          <p>{{ menu_content.texto_de_imagen }}<?xml version="1.0" ?><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title/><g data-name="Layer 2" id="Layer_2"><path d="M22,9a1,1,0,0,0,0,1.42l4.6,4.6H3.06a1,1,0,1,0,0,2H26.58L22,21.59A1,1,0,0,0,22,23a1,1,0,0,0,1.41,0l6.36-6.36a.88.88,0,0,0,0-1.27L23.42,9A1,1,0,0,0,22,9Z"/></g></svg></p>
                        {% endif %}
                        {% if menu_content.texto_para_enlace_de_imagen %}
                          <p class="linkC">{{ menu_content.texto_para_enlace_de_imagen }} <?xml version="1.0" ?><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title/><g data-name="Layer 2" id="Layer_2"><path d="M22,9a1,1,0,0,0,0,1.42l4.6,4.6H3.06a1,1,0,1,0,0,2H26.58L22,21.59A1,1,0,0,0,22,23a1,1,0,0,0,1.41,0l6.36-6.36a.88.88,0,0,0,0-1.27L23.42,9A1,1,0,0,0,22,9Z"/></g></svg></p>
                        {% endif %}
                      </a>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            {% assign booColor = false %}
            {% for promo in shop.metaobjects.menu_colors.values %}
              {% assign promoText = promo.title | downcase | replace: ' ', '' %}
              {% assign linkText = link.title | downcase | replace: ' ', '' %}
              {% if promoText == linkText %}
                {% assign booColor = true %}
                {% assign currColor = promo.color %}
                {% assign booIcon = promo.use_icon %}
                {% continue %}
              {% endif %}
            {% endfor %}
            {% if booColor %}
              <span
                style="color: {{ currColor }};"
                class="color-Active {%- if link.child_active %}header__active-menu-item{% endif %}"
              >
                {{- link.title | escape -}}
                {% if booIcon %} &nbsp; <i class="fa-solid fa-heart"></i>{% endif %}
              </span>
            {% else %}
              <span
                {%- if link.current %}
                  class="header__active-menu-item"
                {% endif %}
              >
                {{- link.title | escape -}}
              </span>
            {% endif %}
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
<script>
  document.addEventListener('click', function () {
    document.querySelectorAll('.mega-menu').forEach((x) => {
      x.removeAttribute('open');
    });
  });
  document.addEventListener('scroll', function () {
    document.querySelectorAll('.mega-menu').forEach((x) => {
      x.removeAttribute('open');
    });
  });
  function addOpen(e) {
    document.querySelectorAll('.mega-menu').forEach((x) => {
      x.removeAttribute('open');
      window.removeEventListener('mouseleave', x);
    });

    e.setAttribute('open', '');
    e.addEventListener('mouseleave', (a) => {
      setTimeout(() => {
        e.removeAttribute('open');
      }, '100');
    });
  }
  function mouseLeaveClose(e) {}
</script>
