<!doctype html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0"
    >
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
  </head>
  <body>
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            <!-- plugin -->

            <div class="section section--delivery-options" style="margin-bottom: 20px" id="shipping-choice-container">
              <div class="section__header">
                <h2 class="section__title">¿Prefieres despachar o retirar tu compra?</h2>
              </div>
              <fieldset id="delivery_options" class="content-box">
                <legend class="visually-hidden">Selecciona dónde prefieres despachar o retirar tu compra</legend>

                <div class="content-box__row">
                  <div class="radio-wrapper">
                    <div class="radio__input">
                      <input
                        class="input-radio"
                        type="radio"
                        value="home"
                        name="delivery_option[option.id]"
                        id="delivery_option_home"
                        checked="checked"
                      >
                    </div>
                    <label class="radio__label" aria-hidden="true" for="delivery_option_home">
                      <span
                        class="radio__label__primary"
                        data-shipping-method-label-title="Despacho a domicilio (casa, depto, oficina, etc.)"
                      >
                        Despacho a domicilio (casa, depto, oficina, etc.)
                      </span>
                    </label>
                  </div>
                </div>
                <!--
                  <div class="content-box__row">
                    <div class="radio-wrapper">
                      <div class="radio__input">
                        <input class="input-radio" type="radio" value="storepickup" name="delivery_option[option.id]"
                          id="delivery_option_storepickup">
                      </div>
                      <label class="radio__label" aria-hidden="true" for="delivery_option_storepickup">
                        <span class="radio__label__primary" data-shipping-method-label-title="Retiro en tiendas">
                          Retiro gratuito en Tiendas
                        </span>
                      </label>
                    </div>
                  </div>

                  <div class="content-box__row" style="display:none;">
                    <div class="radio-wrapper">
                      <div class="radio__input">
                        <input class="input-radio" type="radio" value="third_party_location"
                          name="delivery_option[option.id]" id="delivery_option_chilexpress">
                      </div>
                      <label class="radio__label" aria-hidden="true" for="delivery_option_chilexpress">
                        <span class="radio__label__primary"
                          data-shipping-method-label-title="Retiro en sucursal Chilexpress">
                          Retiro en sucursal Chilexpress
                        </span>
                      </label>
                    </div>
                  </div>
                -->
              </fieldset>
            </div>

            <!-- /Plugin -->

            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>
    <!-- Retiro en tienda -->
    <div id="pickup-stores-template">
      <div>
        <div class="field field--required field--show-floating-label" data-address-field="storepickup_checkout">
          <div class="field__input-wrapper field__input-wrapper--select">
            <label class="field__label field__label--visible" for="checkout_third_party_locations_storepickup">
              Lugares de retiro
            </label>
            <select
              class="field__input field__input--select"
              name="checkout[self_locations_storepickup]"
              id="checkout_third_party_locations_storepickup"
              value=""
            >
              <option value="PUENTE NUEVO: Av La Dehesa 181, Local 3">BUBBA BLACK TIENDA LA DEHESA</option>
              <option value="Av Kennedy 9001, local 3137, piso 3">BUBBA BLACK ALTO LAS CONDES</option>
              <option value="Av. Kennedy 5413, local 137-A, piso 1">BUBBA BLACK PARQUE ARAUCO KENNEDY</option>
              <option value="Av. la Dehesa 1445, local 1089, piso 1">BUBBA BLACK PORTAL LA DEHESA</option>
            </select>
          </div>
          <label id="address__label" class="checkbox__label" style="padding-left: 10px; padding-top: 5px;"
            >Av La Dehesa 181, Local 3. La Dehesa.</label
          >
        </div>
      </div>
    </div>

    <script type="text/javascript">
      /**
       * TODO: change this ids
       */
      var inventory = {
        // radio buttons
        radio_home: function () {
          return document.getElementById('delivery_option_home');
        },
        radio_pickup: function () {
          return document.getElementById('delivery_option_storepickup');
        },
        radio_chilexpress: function () {
          return document.getElementById('delivery_option_chilexpress');
        },

        // inputs
        input_address_1: function () {
          return document.getElementById('checkout_shipping_address_address1');
        },
        input_address_2: function () {
          return document.getElementById('checkout_shipping_address_address2');
        },
        input_address_city: function () {
          return document.getElementById('checkout_shipping_address_city');
        },
        input_address_country: function () {
          return document.getElementById('checkout_shipping_address_country');
        },
        input_address_province: function () {
          return document.getElementById('checkout_shipping_address_province');
        },
        input_store_pickup: function () {
          return document.getElementById('checkout_third_party_locations_storepickup');
        },

        address_label: function () {
          return document.getElementById('address__label');
        },

        div_address_fields: function () {
          return document.getElementsByClassName('address-fields')[0];
        },

        template_pickup_stores: function () {
          return document.getElementById('pickup-stores-template');
        },

        shipping_choice_container: function () {
          return document.getElementById('shipping-choice-container');
        },
      };

      function hideElement(element) {
        element.parentElement.parentElement.style.display = 'none';
      }

      function showElement(element) {
        element.parentElement.parentElement.style.display = 'block';
      }

      function setPickup(element) {
        storePickupChange({
          target: inventory.input_store_pickup(),
        });

        hideElement(inventory.input_address_1());
        hideElement(inventory.input_address_2());
        hideElement(inventory.input_address_city());
        hideElement(inventory.input_address_country());
        hideElement(inventory.input_address_province());

        showElement(inventory.input_store_pickup());
      }

      function setupThirdParty() {
        hideElement(inventory.input_address_1());
        hideElement(inventory.input_address_2());
        hideElement(inventory.input_address_city());
        hideElement(inventory.input_address_country());
        hideElement(inventory.input_address_province());

        showElement(inventory.input_store_pickup());
      }

      function setupHome() {
        resetAddress();

        hideElement(inventory.input_store_pickup());

        showElement(inventory.input_address_1());
        showElement(inventory.input_address_2());
        showElement(inventory.input_address_city());
        showElement(inventory.input_address_country());
        showElement(inventory.input_address_province());
      }

      function changeEvent(event) {
        if (event.target.value === 'home') {
          setupHome();
        }
        if (event.target.value === 'third_party_location') {
          setupThirdParty();
        }
        if (event.target.value === 'storepickup') {
          setPickup();
        }
      }

      function resetAddress() {
        inventory.input_address_1().value = '';
        inventory.input_address_city().value = '';
        inventory.input_address_province().value = 'RM';
      }

      function getProvince(store_name) {
        if (store_name === 'BUBBA BLACK ALTO LAS CONDES') return 'Las Condes';
        if (store_name === 'BUBBA BLACK PARQUE ARAUCO KENNEDY') return 'Las Condes';
        if (store_name === 'BUBBA BLACK PORTAL LA DEHESA') return 'Lo Barnechea';
        if (store_name === 'BUBBA BLACK TIENDA LA DEHESA') return 'Lo Barnechea';

        return '';
      }

      function storePickupChange(event) {
        const province = getProvince(event.target.options[event.target.selectedIndex].text);
        inventory.input_address_1().value = event.target.value;
        inventory.input_address_city().value =
          province + ' (' + event.target.options[event.target.selectedIndex].text + ') ';
        inventory.input_address_province().value = 'RM';
        inventory.address_label().innerHTML = event.target.value + '. ' + province + '.';
      }

      setTimeout(function () {
        if (Shopify.Checkout.step !== 'contact_information')
          inventory.shipping_choice_container().style.display = 'none';

        inventory.radio_home().addEventListener('change', changeEvent);
        inventory.radio_pickup().addEventListener('change', changeEvent);
        inventory.radio_chilexpress().addEventListener('change', changeEvent);

        if (inventory.radio_home().value === 'home') setupHome();

        inventory.div_address_fields().append(inventory.template_pickup_stores());
        inventory.input_store_pickup().addEventListener('change', storePickupChange);
      }, 500);
    </script>
    <script type="text/javascript">
      var region_code = {
        'Arica y Parinacota': 'AP',
        Tarapacá: 'TA',
        Antofagasta: 'AN',
        Atacama: 'AT',
        Coquimbo: 'CO',
        Valparaíso: 'VS',
        'Región Metropolitana': 'RM',
        "O'Higgins": 'LI',
        Maule: 'ML',
        Ñuble: 'NB',
        Biobío: 'BI',
        Araucanía: 'AR',
        'Los Ríos': 'LR',
        'Los Lagos': 'LL',
        Aysén: 'AI',
        Magallanes: 'MA',
      };
      var lookup = {
        street_number: $('#checkout_shipping_address_address1'),
        route: $('#checkout_shipping_address_address1'),
        fullAddress: $('#checkout_shipping_address_address1'),
        locality: $('#checkout_shipping_address_city'),
        administrative_area_level_1: $('#checkout_shipping_address_province'),
        country: $('#checkout_shipping_address_country'),
        postal_code: $('#checkout_shipping_address_zip'),
      };

      var placeSearch;
      var autocomplete;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name',
      };

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
          /** @type {!HTMLInputElement} */ ($('#checkout_shipping_address_address1').on('focus', geolocate)[0]),
          { types: ['geocode'] }
        );

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
      }

      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        for (var component in componentForm) {
          lookup[component].val('');
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        var fullAddress = ' ';
        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          var val = place.address_components[i][componentForm[addressType]];
          if (componentForm[addressType]) {
            switch (addressType) {
              case 'street_number':
                fullAddress = fullAddress + val;
                break;
              case 'route':
                fullAddress = val + fullAddress;
                break;
              case 'locality':
                var the_val = val;
                lookup.locality.val(val);
                setTimeout(function () {
                  $('#dropdown-comunas').val(the_val);
                  handleProvinceChange();
                }, 200);
                break;
              case 'administrative_area_level_1':
                $('#checkout_shipping_address_province').val(region_code[val]);
                handleRegionChange();
                // lookup.administrative_area_level_1.val(region_code[val]);
                break;
              case 'country':
                lookup.country.val(val);
                break;
              case 'postal_code':
                lookup.postal_code.val(val);
                break;
            }
          }
        }
        lookup.fullAddress.val(fullAddress);
      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        // var geolocation = {
        //   lat: -33.4594048,
        //   lng: -70.6543616
        // };
        // var circle = new google.maps.Circle({
        //   center: geolocation,
        //   radius: position.coords.accuracy
        // });
        // autocomplete.setBounds(circle.getBounds());

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function (position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude,
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy,
            });
            autocomplete.setBounds(circle.getBounds());
          });
        } else {
          var geolocation = {
            lat: -33.4378439,
            lng: -70.6526683,
          };
          var circle = new google.maps.Circle({
            center: geolocation,
            radius: position.coords.accuracy,
          });
          autocomplete.setBounds(circle.getBounds());
        }
      }
    </script>
    <!-- Fin retiro -->

    <!--
      <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx0ue3-JcntjdmMTxGRr7whPKmGCXhGOg&libraries=places&callback=initAutocomplete">
      </script>
    -->

    {{ tracking_code }}

    {% render 'tarificador-checkout-dropdown' %}
  </body>
</html>
